.featuresContainer {
    display: flex;
    gap: 40px;
  }
  
  .vehicleContainer {
    border-radius: 10px;
    padding: 44px 52px;
    width: 631px;
    height: 588px;
    background: #f7f7f7;
  }
  
  .vehicleTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin-top: 100px;
    margin-bottom: 24px;
  }
  
  .line {
    border: 1px solid #dadde1;
    margin-bottom: 24px;
  }
  
  .featuresList {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .featuresItem {
    color: #101828;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  